body {
  font-size: clamp(1rem, 1.5vw, 1.15rem);
}

h2, .h2 {
  font-size: clamp(1.5rem, 3vw, 2.25rem);
}

h5, .h5 {
    font-size: clamp(1.1rem, 2vw, 1.5rem);
}

h6, .h6 {
    font-size: clamp(1rem, 1.8vw, 1.3rem);
}
